body {
  text-align: center;
  margin: 100px 0px;
  background-color: rgb(155, 33, 33);
}

.full-body {
  margin: 50px 200px;
  padding: 50px 10px;
  background-color: #fff;
}

.box {
  margin: 100px 50px;
}

.font {
  font-family: "Montserrat", sans-serif;
}

.addingstyle {
  margin: 8px 0px;
}

.social-icon {
  margin: 20px 10px;
}
